@model ItemsPage<FilmViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Films</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item @(Model.HasNext ? "" : "disabled")">
                            <a class="page-link " href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
